/**HEADER*/
#grilla_header {
    grid-area: header;
    display: flex;
    margin-bottom: calc($separacion - 6rem);
    background-color: crimson;
} 

@media screen and (max-width: $pantalla-mediana) {
    #grilla_header {
        flex-direction: column;
    }
}

@media screen and (max-width: $pantalla-chica) {
    #lista_navegacion {
        flex-direction: column;
    }
}

.logo {
    @include sizes (10rem, 10rem);
    border-radius: 8px;
    margin-right: calc($separacion / 5);

    &:hover{
        transform: scale(1.2);
    }

}

.texto-menu {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
}

.color-boton {
    background-color: white;
    @include sizes (4rem, 4rem);
}

/**FOOTER**/
#footer {
    grid-area: footer;
    margin-top: calc($separacion - 6rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    background-color: gray;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.logo-footer {
    @include sizes (14rem, 14rem);
    border-radius: 8px;

    &:hover {
        transform: scale(1.2);
    }
}

.texto-menu-footer {
    color: white;
    font-size: 1.4rem;
    display: flex;
}

/*Redes sociales*/
.icon-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: calc($separacion - 7rem);
}

.img_redes {
    @include sizes (2rem, 2rem);
}

/*Banner*/
#banner-footer {
    background-color: #eaeaea;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;
}

